h4 {
  margin: 15px 0;
}

.container {
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-row-gap: 20px;

  grid-template-rows: 40px auto repeat(auto, 8) 40px; 	
}

.summary {
  background: #f1f1f1;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;	
  text-align: center;
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 100px 50px;
}

.summary p {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.work {
  background: #f1f1f1;  
  padding: 50px;
  font-size: 1.2rem;
}

.work ul {
  line-height: 1.4rem;
}


.work1{
	background: #f1f1f1;
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}

.image1 {
	text-align: center;
	margin: auto;
	grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.work2{
	background: #f1f1f1;
  grid-column: 2 / span 1;;
  grid-row: 6 / span 1;
}

.image2 {
	text-align: center;
	margin: auto;
	grid-column: 2 / span 1;
  grid-row: 5 / span 1;
}

.work3{
	background: #f1f1f1;
  grid-column: 2 / span 1;
  grid-row: 8 / span 1;
}

.image3 {
	text-align: center;
	margin: auto;
	grid-column: 2 / span 1;
  grid-row: 7 / span 1;
}

.work4{
	background: #f1f1f1;
  grid-column: 2 / span 1;
  grid-row: 10 / span 1;
}

.image4 {
	text-align: center;
	margin: auto;
	grid-column: 2 / span 1;
  grid-row: 9 / span 1;
}

section {
	padding: 30px;
}

section p {
	margin: 10px 0;
}

img {
	width: 200px;
}

@media screen and (min-width: 1000px){
  .container {
    grid-template-columns: 50px auto 500px auto 50px;
    grid-template-rows: 50px 300px repeat(4, auto) 50px; 
  }

  .summary {
    grid-column: 2 / span 3;
    grid-row: 2 / span 1; 
  }

  .work1{
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
  }

  .image1 {
    text-align: center;
    margin: auto;
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
  }

  .work2{
    grid-column: 3 / span 2;
    grid-row: 4 / span 1;
  }

  .image2 {
    text-align: center;
    margin: auto;
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
  }

  .work3{
    grid-column: 2 / span 2;
    grid-row: 5 / span 1;
  }

  .image3 {
    text-align: center;
    margin: auto;
    grid-column: 4 / span 1;
    grid-row: 5 / span 1;
  }

  .work4{
    grid-column: 3 / span 2;
    grid-row: 6 / span 1;
  }

  .image4 {
    text-align: center;
    margin: auto;
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
  }
}