html{
    scroll-behavior: smooth;
}

body {
	font-family: 'Source Sans Pro';
}

h2 {
	font-size: 3.5rem;
}

section {
	background-image: linear-gradient(#f7f7f7,#fff);
}

.skip a{
  background: white;
  left: 0;
  padding: 12px;
  position: absolute;
  top: -40px; 
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;

  color: black;
}

.skip a:focus {
  top: 0px;
}

.navigation {
	width: 100vw;
	background: black;
	color: white;
}

.navigation nav ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	padding: 12px 0;
}

.navigation nav ul li {
	display: inline;
}

.navigation nav ul li a {
	text-decoration: none;
	color: white;
}

.navigation nav ul li #current {
	color: #e3ff00;
}

.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 80px 50px;

}

.intro img {
	width: 200px;
	border-radius: 50%;
	margin: 35px;
}

.intro p {
	font-size: 1.5rem;
	text-align: center;
}

.about-me {
	padding: 100px 50px;
	min-height: 300px;		
}

.about-me .info {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column-reverse;

	margin-top: 20px;
}

.about-me a {
	text-decoration: none;
	color: purple;
}

.about-me .info img {
	width: 250px;
	height: 250px;
	box-shadow: 10px 10px purple;
	margin: 30px;
}

.about-me .info p {
	font-size: 1.5rem;
	line-height: 1.75rem;
}

.education {
	padding: 100px 50px;
	min-height: 300px;	
}

.education .info {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column-reverse;
}

.education p {
	font-size: 1.5rem;
	line-height: 1.75rem;	
}

.education ul {
	font-size: 1.5rem;
	line-height: 1.75rem;	
  	list-style: none;
}

.education li::before {
	content: "•"; 
	color: purple;
  	display: inline-block;
  	width: 1em;
  	margin-left: -1em
 }

 .education img {
 	height: 250px;
 	width: 250px;
 	box-shadow: 10px 10px black;
 	margin: 30px;
 }

.interests {
	padding: 80px 50px;
}

.interests .info {
	margin-top: 20px;
	min-height: 300px;
	display: flex;
/*	align-items: center;*/
	justify-content: center;
	flex-direction: column;

}

.interests p {
	font-size: 1.5rem;
	line-height: 2.5rem;	
}

.interests a {
	text-decoration: none;
	color: purple;
}

.contact {
	padding: 80px 50px;	
}

.contact form {
	margin-top: 20px;
}

.contact label {
	font-size: 1.2rem;
}

.contact input[type=text], input[type=email], #content {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

.contact input[type="submit"] {
	background-color: purple;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	float: right;
}

.contact textarea {
	width: 100%;
	height: 200px;
}

footer {
	background-color: black;
	color: white;
	padding: 20px;
	text-align: center;
}

@media screen and (min-width: 800px){
	.about-me .info {
		flex-direction: row;
	}

	.education .info {
		flex-direction: row;
	}

	.education ul {
		columns: 2;
	  	-webkit-columns: 2;
	  	-moz-columns: 2;
  	}
}

@media screen and (min-width: 1000px){
	.interests p {
		text-align: center;
	}
}




